################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Api/.vs/
/Api/bin
/Api/obj
/App/node_modules/
